body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#megaBubble{
    color:black;
    border-radius:50%;
    width:600px;
    height:600px;
    position: absolute;
    left:-100px;
    top:40%;
    background-color:
            #8BFFD9;
}
#megaLabel{
    padding-top:150px;
    padding-left:80px;
    font-size: 3vh;
    text-align: center;
}
#megaAmt{
    padding-top:50px;
    font-size: 3vh;
}
.bubble{
    margin:50px;
    position:absolute;
  width:150px;
  height: 150px;
  border-radius: 50%;
  display:flex;justify-content:center;align-items:center;
    transition-duration: 0.5s;

}
.bubble:hover{
  cursor: pointer;
}

.salaryYearly, .salaryMonthly, .salaryWeekly{
  background-color: #8BFFD9;color:black;
}

.costYearly, .costMonthly, .costWeekly{
  background-color: #FFEE8C;
  color:black;
  margin-left: 800px;
}

.pool{
    background-color:lightblue;
    color:black;
    margin-left: 120px;
    margin-bottom: 80px;
    margin-top: 80px;
}

.expense{
    border-color: #B8F2FF; 
    color:black;
    margin-left: 300px;
}